body {
    background-color: #E9EDDE;
    margin: 40px;
}

h1 {
    text-align: center;
}

.index-header {
    margin-right: 120px;
}

.search-header {
    margin-right: 160px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
    margin-bottom: 0px;
}

h5 {
    margin: 15px 0 5px 5px;
}


label {
    font-weight: 600;
    margin: 10px 0 5px 1px;
    background-color: #FFF94F;
}

.center-form {
    width: 500px;
    height: 280px;
    margin: 50px auto 50px auto;
    padding: 5px;
}

.center-form p {
    margin-top: 10px;
}

.search {
    margin: 50px auto 0 auto;
    width: 405px;
    height: 200px;
}

.search-width {
    width: 400px;
}

.search button {
    margin-top: 10px;
}

.register-button {
    margin: 10px 80px 0 0;
}

.register-button button {
    background-color: rgb(62, 113, 155);
    color: rgb(255, 255, 255);
    height: 30px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.register-button button:hover {
    border: 1px solid black;
}

.buttons {
    background-color: rgb(62, 113, 155);
    color: rgb(255, 255, 255);
    height: 30px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.buttons:hover {
    border: 1px solid black;
}

.log-out {
    float: right;
    background-color: rgb(190, 72, 72);
    width: 60px;
    font-size: 10px;
}

.success {
    color:green;
    margin-left:25px;
    font-size: 12px;
}

.error {
    color: red;
    margin-left: 25px;
    font-size: 12px;
}

.warning {
    color: red;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.results {
    text-align: center;
    width: 100%;
    min-width: 700px;
}

.results tr {
    border-bottom: 1px solid lightgray;
}

.flashes {
    color: red;
}

.align-center {
    text-align: center;
}

.ratings-container {
    min-width: 400px;
    max-width: 800px;
    height: 100%;
    border: 1px solid black;
    margin: 0px auto 10px auto;
    padding: 5px;
    padding-top: 10px;
}

.review-label {
    padding: 5px;
}

.rating-label {
    padding-top: -5px;
    padding-right: 5px;
    float: right;
    
}

.review {
    padding-left: 5px;
}

.align-center div label {
    margin-right: 208px;
}

.no-reviews {
    text-align: center;
    
}

.book-info {
    margin-bottom: 100px;
}

.gold {
    color: goldenrod;
}

