{% extends "template.html" %}

{% block title %}
Search Results
{% endblock %}

{% block body %}
<form action="{{ url_for('logout') }}" method="POST">
    <button class="log-out buttons btn-sm">Log Out</button>
</form>
<div>
    <div class="search">
        <label for="searchbar">Lets search for a book</label>
        <form action="{{ url_for('books') }}" method="POST">
            <input type="text" class="search-width" name="search-input"> <br>
            <input type="radio" name="options" id="isbn" value="isbn"> ISBN
            <input type="radio" name="options" id="title" value="title" checked="checked"> Title
            <input type="radio" name="options" id="author" value="author"> Author
            <p>
                <button class="buttons btn-sm">Search</button>
            </p>
        </form>
    </div>

<div class="book-info">
    <h2>"{{ book.title }}"</h2>
    <h4>by {{ book.author }}</h4>
    <p style="text-align: center">Published: {{ book.year }} || ISBN: {{ book.isbn }}</p>
    <p style="text-align: center">Goodreads average: {{ res_avg }} out of {{ res_count }} ratings</p>
</div>

<div>
    {% if reviews|length == 0 %}
        <p class="no-reviews">No reviews yet! Be the first by submitting below.</p>
    {% endif %}
    {% for review in reviews %}
    <div class="ratings-container">
        <span class="review-label">Review by: {{ review.username }}</span>
        <span class="rating-label">User Rating: {{ review.score }}</span>
        <hr>
        <div class="review">
            {{ review.review }}
        </div>
    </div>
    {% endfor %}
</div>

<form class="align-center" action="{{ url_for('book', isbn=book.isbn) }}" id="review-input" method="POST">
    <div><label>Add a review</label></div>
    <textarea name="review-input" cols="40" rows="3"></textarea>
    <div style="margin:5px;">
        <div>
            Rating:
        </div>
        <input type="radio" name="ratings" id="one" value="1"> 1
        <input type="radio" name="ratings" id="two" value="2"> 2
        <input type="radio" name="ratings" id="three" value="3" checked="checked"> 3
        <input type="radio" name="ratings" id="four" value="4"> 4
        <input type="radio" name="ratings" id="five" value="5"> 5
    </div>
    <p>
        <button class="buttons btn-sm">Submit Review</button>
    </p>
</form>
{% endblock %}