{% extends "template.html" %}

{% block title %}
    Book Review Central
{% endblock %}

{% block body %}
    <h1>Book Review Central</h1>

    <div class="center-form">
        <label for="register">Register</label>
        <form action="" id="register">
            <input type="text" placeholder="username">
            <input type="password" placeholder="password">
            <button>Submit</button>
        </form>
        <h5>OR</h5>
        <label for="log-in">Log In</label>
        <form action="{{ url_for('next') }}" id="log-in">
            <input type="text" placeholder="username">
            <input type="password" placeholder="password">
            <button>Submit</button>
        </form>
    </div>

        
{% endblock %}