{% extends "template.html" %}

{% block title %}
    Book Search
{% endblock %}

{% block body %}
<form action="{{ url_for('index') }}">
    <button class="log-out">Log Out</button>
</form>
<h1>Hello, {{ username }}!</h1>
    <div>
        <div class="search">
            <label for="searchbar">Lets search for a book</label>
            <form action="" method="" id="searchbar">
                <input type="text" class="search-width"> <br>
                <input type="radio" name="search-type" value="ISBN"> ISBN
                <input type="radio" name="search-type" value="Title"> Title
                <input type="radio" name="search-type" value="Author"> Author
                <p>
                    <button>Search</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}