{% extends "template.html" %}

{% block title %}
    Book Search
{% endblock %}

{% block body %}
<form action="{{ url_for('logout') }}" method="POST">
    <button class="log-out">Log Out</button>
</form>
    <div>
        <div class="search">
            <h1 style="display:inline-block;">Hello, {{ session['user'] }}!</h1>
            <label for="searchbar">Lets search for a book</label>
            <form action="{{ url_for('results') }}" method="POST">
                <input type="text" class="search-width" name="search-input"> <br>
                <input type="radio" name="options" id="isbn" value="isbn"> ISBN
                <input type="radio" name="options" id="title" value="title" checked="checked"> Title
                <input type="radio" name="options" id="author" value="author"> Author
                <p>
                    <button>Search</button>
                </p>
            </form>
        </div>
    </div>

{% endblock %}