<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    <style>
        body {
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>TEST!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempore porro laudantium ad odio nesciunt quo, odit dolore nemo mollitia quod, obcaecati asperiores dolorum suscipit labore, aperiam nobis iusto natus!</p>
    {% block body %}
    {% endblock %}
</body>
</html>