<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>TEST!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempore porro laudantium ad odio nesciunt quo, odit dolore nemo mollitia quod, obcaecati asperiores dolorum suscipit labore, aperiam nobis iusto natus!</p>
    {% block body %}
    {% endblock %}
</body>
</html>